.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0 0.5rem;
}

.nav-list {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 2rem;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.nav-link {
  text-decoration: none;
  color: #772f1a;
  font-weight: bold;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  
}

.nav-link i {
  font-size: 1.3rem;
}

@media (max-width: 600px) {
  .header-nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-list {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding-left: 1rem;
  }
}
